<div id="question-{{question.id}}" class="question question-{{ question.type }}" ng-show="question.isEnabled" ng-class="{ current: isCurrent && !question.isAnswered() }" scroll-to-me="isCurrent">
  <div class="question-label" ng-bind-html="question.label"></div>
  <div class="question-link" ng-if="question.linkTitle"><a ng-click="clickLink()">{{ question.linkTitle }}</a></div>
  <div class="question-hint" ng-if="question.hint" ng-bind-html="question.hint"></div>
  <div ng-if="question.type == 'multi-choice'">
    <div class="multi-choice" ng-repeat="option in question.options" ng-class="{ active: isMultiOptionSelected(option.value) }">
      <label>
        <input type="checkbox" ng-model="form.choices['choice-' + $index]" ng-change="toggleMultiOption(option.value)"> {{ option.label }}
      </label>
    </div>
    <button type="button" ng-show="!question.isAnswered()" ng-click="setAnswer(form.answer)">Done</button>
  </div>
  <div ng-if="question.type == 'choice'">
    <div class="choice" ng-repeat="option in question.options" ng-class="{ active: option.value === form.answer }">
      <label>
        <input type="radio" ng-model="form.answer" ng-value="option.value" ng-change="setAnswer(form.answer)"> {{ option.label }}
      </label>
    </div>
  </div>
  <div class="text" ng-if="question.type == 'text'">
    <form ng-submit="setAnswer(form.answer);">
      <input type="text" placeholder="{{ question.config.placeholder }}" ng-model="form.answer" ng-focus="hasFocus = true" ng-blur="setAnswer(form.answer); hasFocus = false">
      <button type="submit" ng-show="hasFocus">Done</button>
    </form>
  </div>
  <div class="text" ng-if="question.type == 'textarea'">
    <form ng-submit="setAnswer(form.answer);">
      <textarea placeholder="{{ question.config.placeholder }}" ng-model="form.answer" ng-focus="hasFocus = true" ng-blur="setAnswer(form.answer); hasFocus = false"></textarea>
      <button type="submit" ng-show="hasFocus">Done</button>
    </form>
  </div>
</div>
